  <!-- End Header -->
<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <%= link_to "WOLLENTIER", root_path, class: "navbar-brand" %>
      <form class="d-flex" role="links">
          <ul class="navbar-nav">
            <li class="nav-item">


              <button class="btn btn-outline-secondary">
                <%- if user_signed_in? %>
                  <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} if user_signed_in? %></li>
                <% else %>
                  <li><%= link_to "Login Here", new_user_session_path unless user_signed_in? %></li>
                <% end %>
              </button>

              <button class="btn btn-warning">
                <%- if user_signed_in? %>
                  <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} if user_signed_in? %></li>
                <% else %>
                  <li><%= link_to "Login Here", new_user_session_path unless user_signed_in? %></li>
                <% end %>
              </button>


          </form>
        </ul>
    </div>
  </nav>
</div>
