<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <%= link_to "WOLLENTIER", root_path, class: "navbar-brand" %>
        <form class="d-flex" role="links">
            <ul class="navbar-nav">
              <li class="nav-item">
                <% if user_signed_in? %>
                  <%= link_to "My Dashboard", offers_path, method: :get, class: "btn btn-warning" %>
                  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-outline-light" %>
                <% else %>
                  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-light" %>
                  <%= link_to "Login", new_user_session_path, class: "btn btn-warning" %>
                <% end %>
              </li>
            </ul>
        </form>
    </div>
  </nav>
</div>
