<div class="banner-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.umweltfestival.de/wp-content/uploads/2020/08/Berlin_GP-Logo_gruen-weiss_30cm-scaled.jpg);">
  <div class="container">
    <h1>Greenpeace</h1>
  </div>
</div>

<div class="container">
  <div class="side-nav">

    <div class="nav-link"><p>Open jobs</p></div>
    <div class="nav-link"><p>Applications</p></div>
    <div class="nav-link"><p>Volunteers</p></div>


  </div>

  <div class="dash-content">
    <h3>Open jobs</h3>
      <%= link_to "Add offer", new_offer_path, class:"btn btn-primary" %>
          <% @offers.each do |offer| %>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="card-group">
              <div class="card h-100 card-style">
                <div class="application">
                  <img src="https://source.unsplash.com/random/" class="img-thumbnail" alt="...">
                </div>
                <%= link_to offer_path(offer) do %>
                  <div class="card-body">
                    <h6 class="card-subtitle "><%= offer.category %></h6>
                    <p class="card-title"><%= offer.title %></p>
                      <div class="price-label text-center align-middle">
                        <h3 class="card-price"><%= offer.start_date %></h3>
                      </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
  </div>
</div>
