<div class="container">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false" disabled>Disabled</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">...</div>
  </div>
</div>

<div class="container">
  <h1>Applications for my job offers</h1>





  <div class="applications">
    <% @applications.each do |application| %>
      <div class="card">
        <img src="https://source.unsplash.com/random/?volunteer" alt="Random image">
        <div class="card-body">
          <h5 class="card-title"><%= application.title %></h5>
          <div class="application-actions">
            <% if application.pending? %>
              <%= simple_form_for application do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                <%= f.submit 'Accept', class: 'btn btn-info' %>
              <% end %>
              <%= simple_form_for application do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                <%= f.submit 'Reject', class: 'btn btn-light' %>
              <% end %>
            <% else %>
              <p class='application-tag'><%= application.status %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="d-flex justify-content-between  mt-4 mb-4">
      <h2 class= "m-0">My Offers</h2>
      <%= link_to "Add offer", new_offer_path, class:"btn btn-primary" %>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @offers.each do |offer| %>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card-group">
          <div class="card h-100 card-style">
            <div class="application">
              <img src="https://source.unsplash.com/random/" class="img-thumbnail" alt="...">
            </div>
            <%= link_to offer_path(offer) do %>
              <div class="card-body">
                <h6 class="card-subtitle "><%= offer.category %></h6>
                <p class="card-title"><%= offer.title %></p>
                <div class="price-label text-center align-middle">
                <h3 class="card-price"><%= offer.start_date %></h3>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>
