<div class="banner-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.umweltfestival.de/wp-content/uploads/2020/08/Berlin_GP-Logo_gruen-weiss_30cm-scaled.jpg);">
  <div class="container">
    <h1>Greenpeace</h1>
  </div>
</div>

<div class="sub-nav">
  <ul class="d-flex flex-row justify-content-start container align-items-center">
    <li class="nav-link mt-3 me-5"><p>Open jobs</p></li>
    <li class="nav-link mt-3 me-5"><p>Applications</p></li>
    <li class="nav-link mt-3"><p>Volunteers</p></li>
  </ul>
</div>

<div class="dash-content container">
  <div class="open-jobs-container">
    <div class="d-flex justify-content-between pt-3">
      <div><h3>Open jobs</h3></div>
      <div><%= link_to "Add offer", new_offer_path, class:"btn btn-primary" %></div>
    </div>
    <div class="row row-cols-12 row-cols-md-4 g-4 pt-3">
      <% @offers.each do |offer| %>
        <%= render partial: 'offers/card_offer', locals: { offer: offer}  %>
      <% end %>
    </div>

    <%# <div class="applications-container">
      <div class="container"> %>
  <h1>Applications for my job offers</h1>





  <div class="applications">
    <% @applications.each do |application| %>
      <div class="card">
        <img src="https://source.unsplash.com/random/?volunteer" alt="Random image">
        <div class="card-body">
          <h5 class="card-title"><%= application.title %></h5>
          <div class="application-actions">
            <% if application.pending? %>
              <%= simple_form_for application do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                <%= f.submit 'Accept', class: 'btn btn-info' %>
              <% end %>
              <%= simple_form_for application do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                <%= f.submit 'Reject', class: 'btn btn-light' %>
              <% end %>
            <% else %>
              <p class='application-tag'><%= application.status %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<%# </div>






    </div>

    <div class="volunteers-container">
    </div>

  </div>
</div> %>
