<div class="container">
  <section id="main" class="hero d-flex align-items-center justify-content-center">
    <div class="container">
      <div>
        <div class="col-lg-5 d-flex flex-column" data-controller="filter" data-filter-offers-value="<%= @offers.to_json %>">
          <div class="d-flex justify-content-between mt-4">
            <div class="d-flex">
              <%= form_with url: offers_path, method: :get do %>
              <%= hidden_field_tag :query, "Kids" %>
                <button class="btn btn-category btn-circle btn-xl" id="Kids">
                    <i class="fa-solid fa-children fa-xl"></i>
                  <br>
                </button>
                <p class="tags">Kids</p>
              <% end %>
            </div>

            <div class="d-flex">
              <%= form_with url: offers_path, method: :get do %>
              <%= hidden_field_tag :query, "Seniors" %>
                <button class="btn btn-category btn-circle btn-xl" id="Seniors">
                    <i class="fa-solid fa-person-cane fa-xl"></i>
                  <br>

                </button>
                <p class="tags">Seniors</p>
              <% end %>
            </div>

            <div class="d-flex">
              <%= form_with url: offers_path, method: :get do %>
              <%= hidden_field_tag :query, "Refugees" %>
                <button class="btn btn-category btn-circle btn-xl" id="Refugees">
                  <i class="fa-solid fa-handshake fa-xl"></i>
                  <br>

                </button>
                <p class="tags">Refugees</p>
              <% end %>
            </div>

            <div class="d-flex">
              <%= form_with url: offers_path, method: :get do %>
              <%= hidden_field_tag :query, "Community" %>
                <button class="btn btn-category btn-circle btn-xl" id="Community">
                  <i class="fa-solid fa-heart-pulse fa-xl"></i>
                  <br>

                </button>
                <p class="tags">Community</p>
              <% end %>
            </div>

            <div class="d-flex">
              <%= form_with url: offers_path, method: :get do %>
              <%= hidden_field_tag "all" %>
                <button class="btn btn-category btn-circle btn-xl" id="all">
                  <i class="fa-solid fa-rectangle-list fa-xl"></i>
                  <br>
                </button>
                <p class="tags">Reset Filters</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div>
    <h2>All Wollentier jobs in Berlin</h2>
  </div>
  <br>

  <div class="row row-cols-12 row-cols-md-4 g-4">
    <% @offers.each do |offer| %>
      <div class="card-group">
        <div class="card h-100 card-style" style="width: 18rem;">
          <%= link_to offer_path(offer) do %>
          <div class="card-body">
            <div class="card-badge">
              <span><%= offer.category %></span>
            </div>
            <p class="card-title"><strong><%= offer.title %></strong></p>
            <p class="card-district"><%= offer.district %></p>
            <img src="<%= offer.organization.logo_url %>" class="card-offer-logo avatar-bordered" />
          </div>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
