<div class="sub-nav mb-4">
  <ul class="d-flex flex-row justify-content-start container align-items-center">
    <div>
      <%= form_with url: offers_path, method: :get do %>
      <%= hidden_field_tag :query, "Kids" %>
        <button class="btn nav-link mt-3 me-5" id="Kids"><p><i class="fa-solid fa-children fa-l pe-2"></i>Kids</p></button>
      <% end %>
    </div>
    <div>
      <%= form_with url: offers_path, method: :get do %>
      <%= hidden_field_tag :query, "Seniors" %>
        <button class="btn nav-link mt-3 me-5" id="Seniors"><p><i class="fa-solid fa-person-cane fa-l pe-2"></i>Seniors</p></button>
      <% end %>
    </div>
    <div>
      <%= form_with url: offers_path, method: :get do %>
      <%= hidden_field_tag :query, "Refugees" %>
        <button class="btn nav-link mt-3 me-5" id="Refugees"><p><i class="fa-solid fa-handshake fa-l pe-2"></i>Refugees</p></button>
      <% end %>
    </div>
    <div>
      <%= form_with url: offers_path, method: :get do %>
      <%= hidden_field_tag :query, "Community" %>
        <button class="btn nav-link mt-3 me-5" id="Community"><p><i class="fa-solid fa-heart-pulse fa-xl pe-2"></i></i>Community</p></button>
      <% end %>
    </div>
    <div>
      <%= form_with url: offers_path, method: :get do %>
      <%= hidden_field_tag "all" %>
        <button class="btn nav-link mt-3 me-5" id="all"><p><i class="fa-solid fa-rectangle-list fa-l pe-2"></i>All Jobs</p></button>
      <% end %>
    </div>
  </ul>
</div>

<div class="container">
  <%# <div>
    <h2>All Wollentier jobs in Berlin</h2>
  </div>
  <br> %>

  <div class="row row-cols-12 row-cols-md-4 g-4">
    <% @offers.each do |offer| %>
      <%= render partial: 'card_offer', locals: { offer: offer}  %>
    <% end %>
  </div>
</div>
