<div class="container">
<div>
<h2>All Wollentier jobs in Berlin</h2>
</div>
<br>
  <div class="row row-cols-12 row-cols-md-4 g-4">
    <% @offers.each do |offer| %>
      <div class="card-group">
        <div class="card h-100 card-style" style="width: 18rem;">
          <%= link_to offer_path(offer) do %>
          <div class="card-body">
            <div class="card-badge">
              <span><%= offer.category %></span>
            </div>
            <p class="card-title"><strong><%= offer.title %></strong></p>
            <p class="card-title"><%= offer.description.slice(0..200) + "..." %></p>
            <p class="card-district"><%= offer.district %></p>
            <img src="<%= offer.organization.logo_url %>" class="card-offer-logo avatar-bordered" />
          </div>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
