<!-- Page Content -->
<section class="py-5 bg-white">
  <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5">
          <div class="col-md-6">
              <div class="small mb-1"><%= @offer.category %></div>
              <h1 class="display-5 fw-bolder"><%= @offer.title %></h1>
              <p class="lead"><%= @offer.description %></p>
              <div class="d-flex">
          </div>
      </div>
    </div>
  </div>
</section>

<!-- further recommendations-->
<section class="py-5 bg-light" style="margin-top: 50px">
  <div class="container px-4 px-lg-5 mt-5 fw-bolder"> <h1>Related Jobs</h1>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    </div>
  </div>
</section>

<!-- PUNDIT - PLEASE ADD THE BUTTONS BELOW TO THEIR RELATED DIV-->
<% if policy(@offer).edit? %>
  <%= link_to "Edit this offer", edit_offer_path(@offer) %> |
<% end %>
<%= button_to "Delete this offer", @offer, method: :delete if policy(@offer).destroy? %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Apply fo Job
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Job application</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "applications/form", application: @application %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
