<%= render "shared/banner" %>
<div class="container">
  <div class="row">
    <%# title and description %>
      <div class="col-8">
        <h1><%= @offer.title %></h1>
        <h6 class="card-badge-mdutra"><%= @offer.category %></h4>
        <p><%= @offer.description %></p>
        <!-- Button trigger modal -->
        <% if user_signed_in? && current_user.volunteer? %>
        <button type="button" class="btn btn-primary-mdutra mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Apply for Job
        </button>
        <% end %>
        <div class="d-flex flex-row mb-3 justify-content-start">
          <!-- PUNDIT - PLEASE ADD THE BUTTONS BELOW TO THEIR RELATED DIV-->
          <% if policy(@offer).edit? %>
            <%= link_to "Edit this offer", edit_offer_path(@offer), class: "btn btn-primary-mdutra" %>
          <% end %>
          <%= button_to "Delete this offer", @offer, method: :delete, class: "btn btn-primary" if policy(@offer).destroy? %>
        </div>


      </div>
      <div class="col-4">
        <div class="d-flex flex-column mb-5">
          <div class="p-2 position-relative">
            <img class="position-absolute top-0 end-0 card-offer-logo-show" src="<%= @offer.organization.logo_url %>" />
            <h3><strong><%= @offer.organization.name %></strong></h3>
            <p>District: <%= @offer.district %></p>
            <p>Phone Number: <%= @offer.organization.user.phone_number %></p>
            <p>Email: <%= @offer.organization.user.email %></p>
          </div>
          <div class="p-2">
            <div class="row gutters-sm" id="map"
                style="width: 100%; height: 300px;"
                data-controller="map"
                data-map-markers-value="<%= @markers.to_json %>"
                data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
                data-map-zoom-value=15>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>







<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Job application</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "applications/form", application: @application %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

  <!-- further recommendations-->
  <section class="py-5 bg-light">
    <div class="container mt-5 fw-bolder g-4">
      <h1 class="mx-2">Related Jobs</h1>
        <% @related_offers.each do |category, offers| %>
          <div class="card-group">
            <h3 class="text-center mb-3"><% category %></h3>
            <% offers.each do |offer| %>
              <div class="card h-100 card-style mx-2" style="width: 18rem;">
                <%= link_to offer_path(offer) do %>
                  <div class="card-body">
                    <div class="card-badge">
                      <span><%= offer.category %></span>
                    </div>
                    <p class="card-title"><%= offer.title %></p>
                    <p class="card-title" style=><%= offer.description.slice(0..128) + "..." %></p>
                    <p class="card-title"><%= offer.district %></p>
                    <img src="<%= offer.organization.logo_url %>" class="card-offer-logo avatar-bordered" />
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>
  </section>
