<h1>Organization Profile</h1>
<h2><%= @organization.name %></h2>
<h2><%= @organization.description %></h2>
<p><%= @organization.location %></p>
<p><%= @organization.website %><p>
<p><%= @organization.opening_time %><p>
