<!DOCTYPE html>

<html>
  <head>
    <title>WOLLENTIER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="page-container">
      <div class="navbar-container"><%= render "shared/navbar" %></div>
      <div class="content-container container mt-5"><%= yield %></div>
      <div class="footer"><%= render "shared/footer" %></div>
    </div>
  </body>
</html>
